.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nama-organisasi-detail{
        margin-bottom: 50px;
    }
#tentang{
    background: #C0C0C0;
    margin-left: 400px;
    margin-right: 400px;
}

#pengurus{
    background: #C0C0C0;
    margin-top: 75px;
    margin-left: 300px;
    margin-right: 300px;
}
.row{
    background: #F0F0F0;
    margin-top: 10px;
    margin-left: 400px;
    margin-right: 400px;
}

#row-data{
    margin-bottom: 100px;
}

.pengurus-organisasi{
        margin-left: 300px;
        margin-right: 300px;
    }
.data-pengurus{
        text-align: center;
        width: 500px;
    }
.data-pengurus-organisasi{
        background: #F5F5F5;

    }

#donatur-sponsor{
    background: #C0C0C0;
    margin-top: 75px;
}


/*profil organisasi*/
.table{
        margin-left: 100px;
        margin-right: 100px;
        width: 1150px;

    }

.home-organisasi{
        margin-bottom: 50px;
    }

    #row-table{
        text-align: center;
    }
    #head-table{
        text-align: center;
    }
    #head-1{
        text-align: center;
        width: 75px;
    }
    #head-2, #head-3{
        text-align: center;
    }

/*Form Donasi*/
#form{
    background: #F5F5F5;
    height: 300px;
    border-radius: 25px;
    margin-top: 100px;
    margin-left: 500px;
    margin-right: 500px;
}

.btn btn-primary{
    margin-top: 20px;
}