{% extends "layout/profil-base.html" %}
{% block content %}

<div align="center" class="judul">
    <h1> Form Donasi </h1>
</div>
<hr>
<div align="center" class="row" id="form">
    <div class="col-md-6 col-md-offset-3">
        <div style="margin-top: 50px;" class="rata-tengah">
            <form method="POST" action="{% url 'profil_organisasi:donasi' %}">
            {% csrf_token %}
                <label for="organisasi">Organisasi</label><br>
                <select class="my-select">
                {% for don in donasi%}
                    <option>{{don.nama}}</option>
                {% endfor %}
                </select>

                <label for="jumlah-dana">Jumlah Dana</label> 
                <p style="margin-bottom: 20px;">
                    <input type="number" id="dana" name="dana" required placeholder="Jumlah Dana">
                </p>
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(".jumlah-dana").change(function () {
        console.print('haha');
        console.log( $(this).val() );
        jumlah_dana = $(this).val();
        $.ajax({
            method: "POST",
            url: '{% url "profil_organisasi:jumlah_dana" %}',
            data: {
                'jumlah-dana': jumlah_dana
            },
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.is_good) {
                    alert("Jumlah dana kurang");
                }
            }
        });
    });
</script>
{% endblock %}