{% extends "layout/profil-base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
		font-size : 40px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
		color : #040F0F;

    }
    
</style>
    <div align="center" class="nama-organisasi-detail">
        <h1>{{ detail.nama }}</h1>
    </div>    

    <div class="prof2">
         <h3 align="center" id="tentang">Tentang</h3>
        <div align="center" class="row">
             <div class="col-md-6">Jalan/Desa/Kelurahan/No.Rumah</div>
            <div class="col-md-6">{{ detail.kelurahan }}</div>
            <div class="col-md-6">Kecamatan</div>
            <div class="col-md-6">{{ detail.kecamatan }}</div>
            <div class="col-md-6">Kabupaten</div>
            <div class="col-md-6">{{ detail.kabupaten }}</div>
            <div class="col-md-6">Provinsi</div>
            <div class="col-md-6">Jakarta</div>
            <div class="col-md-6">Kode Pos</div>
            <div class="col-md-6">150589</div>
            <div class="col-md-6">Email</div>
            <div class="col-md-6">indonesia@co</div>
            <div class="col-md-6">Website</div>
            <div class="col-md-6">indonesia.co</div>
            <div class="col-md-6">Tujuan Organisasi</div>
            <div class="col-md-6">membangun semangat</div>
        </div>
        <h3 align="center" id="pengurus">Pengurus Organisasi</h3>
        <div class="pengurus-organisasi">
            <div class="data-pengurus-organisasi">
                <table align="center" class="data-pengurus">
               
                    <tr><td>Sudirman</td></tr> 
                
                </table>
            </div>
        </div>
        <div align="center" class="row" id="donatur-sponsor">
             <div class="col-md-4">
                 <div >
                </div>
             </div>
             <div class="col-md-4">
                 <div id="donatur">
                    <h3>Donatur</h3>
                 </div>
             </div>
            <div class="col-md-4">
                <div>
                </div>
            </div>
        </div>
        <div align="center" class="row">
        
            <div class="col-md-4"></div>
            <div class="col-md-4">Yeni</div>
            <div class="col-md-4"></div>
        
        </div>

        <div align="center" class="row" id="donatur-sponsor">
             <div class="col-md-4">
                 <div>
                </div>
             </div>
             <div class="col-md-4">
                 <div id="sponsor">
                    <h3>Sponsor</h3>
                </div>
             </div>
            <div class="col-md-4">
                <div>
                </div>
            </div>
        </div>
        <div align="center" class="row">
        
            <div class="col-md-4"></div>
            <div class="col-md-4">Laurel</div>
            <div class="col-md-4"></div>
        
        </div>


{% endblock %}

