{% extends "layout/profil-base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 400px;
        height: 50px;
		font-size : 40px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
		color : #040F0F;
    }
        
</style>
<div align="center" class="home-organisasi">
    <h1>Organisasi Nirlaba</h1>
</div>    

<div class="prof2">
    <table class="table">
        <thead id="head-table">
            <th id="head-1"> No</th>
            <th id="head-2"> Nama Organisasi</th>
            <th id="head-3"> </th>
            </thead>
            
                <tbody>
                {% for row in organisasi %}
                   <tr id="row-table">
                        <td> {{forloop.counter}} </td>
                        <td> {{row.2}} </td>
                        <td id="lihat-organisasi"> 
                            <a href="{%url 'profil_organisasi:add_session_organisasi' %}">Lihat Organisasi</a>
                        </td>
                    </tr>
                    <br>
                {% endfor %}
                </tbody>
            
        </table>
    </div>
<br>
    <div style="margin-top: 50px;margin-left: 100px;">
        <a href="{%url 'profil_organisasi:form_donasi_organisasi' %}">Donasi Organisasi</a>
    </div>

{%endblock%}

{% block javascript %}
<script type="text/javascript">
    $(".jumlah-dana").change(function () {
        console.print('haha');
        console.log( $(this).val() );
        jumlah_dana = $(this).val();
        $.ajax({
            method: "POST",
            url: '{% url "profil_organisasi:jumlah_dana" %}',
            data: {
                'jumlah-dana': jumlah_dana
            },
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.is_good) {
                    alert("Jumlah dana kurang");
                }
            }
        });
    });
</script>
{% endblock %}