<div class="navbar">
  <a href="home">Home</a>
  <a href="regis_sponsor">Sponsor</a>
  <a href="regis_relawan">Relawan</a>
  <a href="regis_donatur">Donatur</a>
  <!--<div class="dropdown">
    <button class="dropbtn">Registrasi 
      <i class="fa fa-caret-down"></i>
    </button>
    <!-- bisa dropdown kebawah 
    <div class="dropdown-content">
      <a href="#">User</a>
      <a href="#">Organisasi</a>
    </div>
  </div> -->
</div>