<div class="navbar">
  <a href="/profil_pribadi/profil_relawan">Profile</a>
  <a href="/profil_organisasi">Organisasi</a>
  <a href="/profil_organisasi/form_donasi">Donasi</a>
  <!--<a style="float: right;" href="#">Logout</a> -->
  <a href="{% url 'login:auth_logout' %}" class="btn btn-danger" onclick="return confirm('Keluar?')">
            Logout </a>
</div>