{% extends "layout/base1.html" %}
{% block content %}
<style>
	.card {
	    /* Add shadows to create the "card" effect */
	    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	    transition: 0.3s;
	}

	/* On mouse-over, add a deeper shadow */
	.card:hover {
	    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

	/* Add some padding inside the card container */
	.contain {
	    padding: 2px 16px;
	}
</style>
<div class="card">
  <div class="contain">
    <h4><b>Nomor Registrasi : {{ nomor_reg }}</b></h4> 
    <p>Email Pengurus : {{ email_pengurus }}</p>
    <p>Password : {{ password }}</p> 

    <!-- <h4><b>Nomor Registrasi : 12345</b></h4> 
    <p>Email Pengurus : afwan@gmail.com</p>
    <p>Password : qwerty</p>  -->

  </div>
</div>
{% endblock %}