{% extends "layout/base1.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 1640px;
        height: 100px;
		font-size : 30px;
		background-color: #428bca;
        top: 40%;
        left: 38%;
        margin-left: -520px; /* margin is -0.5 * dimension */
        margin-top: -25px;
		color : #040F0F;
    }
</style>
<div class="center_screen">
    <p>.................................WELCOME TO USER REGISTRATION PAGE..................................</p>
</div>

{% endblock %}