{% extends "layout/base1.html" %}
{% block content %}

<form method="POST" action="{% url 'regis_relawan:regis_relawan' %}">
    {% csrf_token %}
  <div class="container">
    <h2>Register Relawan</h2>
    <hr>

    <label for="nama-org"><b>Nama</b></label>
    <input type="text" placeholder="Enter Name" name="nama-org" required>

	<label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" required>
	
    <label for="password"><b>Password</b></label>
	<p> </p>
    <input type="password" placeholder="Enter Password" name="password" required>
    
	<p> </p>
    <label for="kecamatan"><b>Kecamatan</b></label>
    <input type="text" placeholder="Enter Kecamatan" name="kecamatan" required>
    
    <label for="kabupaten"><b>Kabupaten</b></label>
    <input type="text" placeholder="Enter Kabupaten" name="kabupaten" required>
    
    <label for="provinsi"><b>Provinsi</b></label>
    <input type="text" placeholder="Enter Provinsi" name="provinsi" required>
    
    <label for="kode-pos"><b>Kode Pos</b></label>
    <input type="text" placeholder="Enter Kode Pos" name="kode-pos" required>
    
    <label for="alamat-lengkap"><b>Jalan/Desa/Kelurahan/No.Rumah</b></label>
    <input type="text" placeholder="Enter Alamat Lengkap" name="alamat-lengkap" required>
	
	<label for="tanggal-lahir"><b>Tanggal Lahir</b></label>
	<p> </p>
    <input type="datetime" placeholder="Enter D/M/Y" name="tanggal-lahir" required>
	
	<p> </p>
	<label for="nomor-hp"><b>Nomor Handphone</b></label>
    <input type="text" placeholder="Enter Nomor HP" name="nomor-hp" required>
	
	<label for="keahlian"><b>Keahlian yang Dimiliki</b></label>
    <input type="text" placeholder="Enter Keahlian" name="keahlian" required>
	
    <button type="submit" class="registerbtn">Submit</button>

    <!--  <div class="container signin">
    <p>Already have an account? <a href="#">Sign in</a>.</p>
  </div> -->
  </div>
  

</form>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $("#email").change(function () {
        console.print('haha');
        console.log( $(this).val() );
        email = $(this).val();
        $.ajax({
            method: "POST",
            url: '{% url "regis_user:validate-email" %}',
            data: {
                'email': email
            },
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.is_taken) {
                    alert("Organisasi dengan email ini sudah ada");
                }
            }
        });
    });
</script>

{% endblock %}
