{% extends "login/layouts/base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 559px;
        height: 10px;
		font-size : 18px;
        top: 30%;
        left: 50%;
        margin-left: -300px; /* margin is -0.5 * dimension */
        margin-top: -25px;
		color : #040F0F;
    }
</style>

<div class="center_screen">
	<div>
    <div class="col-md-6 col-md-offset-3">
        <div>
            <div class="judul">
                <h1> Login SION </h1>
                <p class="text-info"> Use <b> SION account </b> to login </p>
            </div>
            <form form action="{% url 'login:auth_login' %}" method="POST">
                {% csrf_token %}
                <p>
                    <input type="text" id="username" name="username" required placeholder="Username">
                </p>
                <p>
                    <input type="password" id="password" name="password" required placeholder="Password">
                </p>
                <input type="submit" class="btn btn-primary" value="Login">
            </form>
        </div>
    </div>
</div>
</div>

{% endblock %}