{% extends "layout/kegiatan-base.html" %}
{% block content %}
	<div align="center" class="home-organisasi">
        <h1>DAFTAR ORGANISASI</h1>
    </div>    

    <div class="prof2">
        <table class="table">
            <thead id="head-table">
            <th id="head-1"> No</th>
            <th id="head-2"> Nama Organisasi</th>
            <th id="head-3"> Lihat Kegiatan</th>
            </thead>
            <tbody>
            <tr id="row-table">
                <td> 1</td>
                <td> PT. Indonesia Raya Merdeka Merdeka </td>
                <td id="lihat-organisasi"> 
                    <a href="{%url 'kegiatan:daftar_organisasi' %}">Lihat Kegiatan</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
<br>
    <div style="margin-top: 50px;margin-left: 100px;">
        <a href="{%url 'kegiatan:form_donasi_kegiatan' %}">Donasi Kegiatan</a>
    </div>
{% endblock %}