{% extends "layout/kegiatan-base.html" %}
{% block content %}

<div align="center" class="judul">
    <h1> Form Buat Kegiatan </h1>
</div>
<hr>
<div align="center" class="row" id="form">
    <div class="col-md-6">
    	<h3>Judul</h3>
    	<h3>Kategori</h3>
    </div>
    <div class="col-md-6">
        <form >
            {% csrf_token %}
            <select name="organisasi">
                    <option value="">PT.Indonesia Raya</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
                <h3>Jumlah Dana</h3> 
                <p style="margin-bottom: 20px;">
                    <input type="number" id="dana" name="dana" required placeholder="Jumlah Dana">
                </p>
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
    
</div>
{% endblock %}