{% extends "layout/kegiatan-base.html" %}
{% block content %}

<div align="center" class="judul">
    <h1> Form Donasi Kegiatan </h1>
</div>
<hr>
<div align="center" class="row" id="form">
    <div class="col-md-6 col-md-offset-3">
        <div style="margin-top: 50px;" class="rata-tengah">
            <form >
                {% csrf_token %}
                <h3>Organisasi</h3>
                <select name="organisasi">
                    <option value="">PT.Indonesia Raya</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
                <h3>Kegiatan</h3>
                <select name="Kegiatan">
                    <option value="">Memancing</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
                <h3>Jumlah Dana</h3> 
                <p style="margin-bottom: 20px;">
                    <input type="number" id="dana" name="dana" required placeholder="Jumlah Dana">
                </p>
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}